* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, video, svg, picture, canvas {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}